<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light" class="ion-text-center">Event yang Kamu Hadiri</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Jika belum ada event -->
  <div *ngIf="events.length === 0" class="empty-state">
    <ion-icon name="calendar-outline" size="large" color="medium"></ion-icon>
    <p>Belum ada event yang kamu hadiri.</p>
  </div>

  <!-- Jika sudah ada event -->
  <div *ngFor="let event of events" class="history-card">
    <div class="history-info">
      <h2 class="event-name">{{ event.event.nama }}</h2>
      <p><strong>Tanggal:</strong> {{ event.event.waktu_mulai | date:'dd MMMM yyyy' }}</p>
      <p><strong>Lokasi:</strong> {{ event.event.lokasi }}</p>

      <ion-button
        expand="block"
        color="primary"
        *ngIf="event.event.mengeluarkan_sertifikat"
        (click)="lihatSertifikat(event.id)"
      >
        Lihat Sertifikat
      </ion-button>
    </div>
  </div>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-segment mode="ios" value="home" class="ion-justify-content-between" scrollable>
      <ion-segment-button value="home" routerLink="/user/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="ticket" routerLink="/user/ticket">
        <ion-icon name="ticket-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="history" routerLink="/user/history-event">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="logout" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
