<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light" class="ion-text-center">🎫 Tiket Saya</ion-title>
  </ion-toolbar>
  <br>
  <ion-card class="ion-text-center">SILAHKAN SCAN UNTUK KEHADIRAN</ion-card>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="tickets.length === 0">Belum ada tiket.</div>

  <div *ngFor="let ticket of tickets" class="ticket-card">
    <div class="ticket-content">
      <!-- Jika sudah bayar, tampilkan QR -->
      <ng-container
        *ngIf="ticket.status_pembayaran === 'diterima'; else uploadSection"
      >
        <qrcode
          [qrdata]="'http://127.0.0.1:8000/api/participant/' + ticket.id + '/status'"
          [width]="160"
          [errorCorrectionLevel]="'M'"
        >
        </qrcode>
      </ng-container>

      <!-- Jika belum bayar, tampilkan form upload -->
      <ng-template #uploadSection>
        <div class="upload-section">
          <ng-container *ngIf="ticket.bukti_pembayaran; else showUpload">
            <ion-icon
              name="checkmark-circle-outline"
              color="success"
            ></ion-icon>
            <p><strong>Bukti pembayaran telah diunggah.</strong></p>
            <p>Menunggu verifikasi admin...</p>
          </ng-container>

          <ng-template #showUpload>
            <p><strong>Silakan kirim bukti pembayaran:</strong></p>
            <input
              type="file"
              (change)="handleFileUpload($event, ticket.id)"
              accept="image/*"
              class="file-input"
            />
          </ng-template>
        </div>
      </ng-template>

      <!-- Info Event -->
      <div class="ticket-info">
        <h2 class="ticket-title">{{ ticket.event.nama }}</h2>
        <p>
          <strong>Tanggal:</strong> {{ ticket.event.waktu_mulai | date:'dd MMMM
          yyyy' }}
        </p>
        <p><strong>Status:</strong> {{ ticket.status_pembayaran }}</p>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-segment mode="ios" value="home" class="ion-justify-content-between" scrollable>
      <ion-segment-button value="home" routerLink="/user/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="ticket" routerLink="/user/ticket">
        <ion-icon name="ticket-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="history" routerLink="/user/history-event">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="logout" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>