<ion-header>
  <ion-toolbar color="primary">
    <ion-title color="light"> 🎗️ KELOLA EO EVENT</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="showSearch = !showSearch">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Searchbar muncul jika showSearch bernilai true -->
  <ion-toolbar *ngIf="showSearch">
    <ion-searchbar
      placeholder="Cari event..."
      (ionInput)="filterEvent($event)"
      showClearButton="always">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Tombol tambah event -->
  <ion-button expand="block" color="success" class="ion-margin-bottom" [routerLink]="['/admin/add-event']">
    ➕ Tambah Event
  </ion-button>

  <!-- Jika tidak ada event -->
  <div *ngIf="filteredEvents.length === 0" class="empty-state">
    <ion-icon name="calendar-outline" size="large" color="medium"></ion-icon>
    <p>Tidak ada event ditemukan.</p>
  </div>

  <!-- List Event -->
  <ion-card *ngFor="let event of filteredEvents">

    <ion-card-header>
      <ion-card-title>{{ event.nama }}</ion-card-title>
      <ion-card-subtitle>{{ event.lokasi }} – {{ event.waktu_mulai | date:'dd MMM yyyy' }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Kuota:</strong> {{ event.kuota }} peserta</p>

      <ion-button size="default" expand="block" color="primary" [routerLink]="['/event-detail', event.id]">
        📄 Lihat Detail
      </ion-button>

      <ion-button size="default" expand="block" color="warning" [routerLink]="['/admin/edit-event', event.id]">
        ✏️ Edit Event
      </ion-button>

      <ion-button size="default" expand="block" color="danger" (click)="confirmDelete(event.id)">
        🗑️ Hapus Event
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <app-footer-navbar></app-footer-navbar>
</ion-footer>
